/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    combos {
        compatible = "zmk,combos";

        lower_layer_left {
            bindings = <&mo 1>;
            key-positions = <20 21 22 23>;
        };

        lower_layer_right {
            bindings = <&mo 1>;
            key-positions = <26 27 28 29>;
        };

        mod {
            bindings = <&mo 2>;
            key-positions = <12 13>;
        };

        modopt {
            bindings = <&mo 3>;
            key-positions = <11 13>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&mt TAB SEMICOLON            &kp COMMA  &kp PERIOD  &mt NUMBER_1 P  &mt N9 Y  &mt N0 F  &mt NUMBER_2 G  &mt NUMBER_4 C  &mt NUMBER_6 R  &mt BACKSPACE P
&mt RET A                    &kp O      &kp E       &kp U           &kp I     &kp D     &kp H           &kp T           &mt N8 N        &mt S SPACE
&mt LEFT_SHIFT SINGLE_QUOTE  &kp Q      &kp J       &kp K           &kp X     &kp B     &kp M           &kp W           &kp V           &kp Z
                                        &none       &kp ESCAPE      &mo 6     &mo 6     &kp SPACE       &none
            >;
        };

        utils {
            bindings = <
&out OUT_BLE  &bt BT_CLR  &none  &sys_reset  &bootloader  &bootloader  &sys_reset  &none      &kp O    &mt BACKSPACE P
&kp A         &kp S       &kp D  &kp F       &kp G        &kp H        &kp J       &kp K      &kp L    &kp SEMI
&kp Z         &kp X       &kp C  &kp V       &kp B        &kp N        &kp M       &kp COMMA  &kp DOT  &kp FSLH
                          &kp L  &kp L       &kp L        &kp L        &kp L       &kp L
            >;
        };

        mod {
            bindings = <
&trans          &trans  &trans  &trans  &to 0   &trans  &kp PG_UP  &kp UP_ARROW  &kp PG_DN  &trans
&kp LEFT_SHIFT  &trans  &trans  &trans  &trans  &trans  &kp LEFT   &kp DOWN      &kp RIGHT  &trans
&trans          &trans  &trans  &trans  &trans  &trans  &trans     &trans        &trans     &trans
                        &trans  &trans  &trans  &trans  &trans     &trans
            >;
        };

        mod_opt {
            bindings = <
&trans          &trans  &trans  &trans  &to 0   &kp BSPC  &kp HOME      &kp UP    &kp END        &kp LA(BSPC)
&kp LEFT_SHIFT  &trans  &trans  &trans  &trans  &trans    &kp LA(LEFT)  &kp DOWN  &kp LA(RIGHT)  &trans
&trans          &trans  &trans  &trans  &trans  &trans    &trans        &trans    &trans         &trans
                        &trans  &trans  &trans  &trans    &trans        &trans
            >;
        };

        mod_ctrl {
            bindings = <
&trans  &trans          &trans  &trans  &to 0   &trans  &trans        &kp UP    &trans         &kp LC(BSPC)
&trans  &kp LEFT_SHIFT  &trans  &trans  &trans  &trans  &kp LC(LEFT)  &kp DOWN  &kp LC(RIGHT)  &trans
&trans  &trans          &trans  &trans  &trans  &trans  &trans        &trans    &trans         &trans
                        &trans  &trans  &trans  &trans  &trans        &trans
            >;
        };

        mod_cmd {
            bindings = <
&trans  &trans  &trans  &trans  &to 0   &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        symbol {
            bindings = <
&kp LEFT_BRACKET  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp LEFT_PARENTHESIS  &kp EQUAL        &kp ASTERISK  &kp RIGHT_PARENTHESIS  &kp PLUS       &kp RIGHT_BRACKET  &kp EXCLAMATION
&kp DOLLAR        &kp TILDE       &kp AMPERSAND    &none                 &none            &kp SLASH     &kp AT_SIGN            &kp BACKSLASH  &kp MINUS          &kp HASH
&kp N0            &kp NUMBER_1    &kp NUMBER_2     &kp NUMBER_3          &kp RIGHT_BRACE  &kp QUESTION  &kp CARET              &kp PIPE       &kp UNDERSCORE     &kp GRAVE
                                  &none            &none                 &none            &none         &none                  &none
            >;
        };
    };
};
