/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    combos {
        compatible = "zmk,combos";

        lower_layer_left {
            bindings = <&mo 1>;
            key-positions = <20 21 22 23>;
        };

        lower_layer_right {
            bindings = <&mo 1>;
            key-positions = <26 27 28 29>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&mt TAB Q         &kp W  &kp E  &kp R       &kp T  &kp Y  &kp U      &kp I      &kp O    &mt BACKSPACE P
&mt RET A         &kp O  &kp E  &kp U       &kp I  &kp D  &kp H      &kp T      &kp N    &kp S
&mt LEFT_SHIFT Z  &kp X  &kp C  &kp V       &kp B  &kp N  &kp M      &kp COMMA  &kp DOT  &kp FSLH
                         &none  &kp ESCAPE  &mo 6  &mo 6  &kp SPACE  &none
            >;
        };

        prog {
            bindings = <
&out OUT_BLE  &bt BT_CLR  &studio_unlock  &sys_reset  &bootloader  &bootloader  &sys_reset  &studio_unlock  &kp O    &mt BACKSPACE P
&kp A         &kp S       &kp D           &kp F       &kp G        &kp H        &kp J       &kp K           &kp L    &kp SEMI
&kp Z         &kp X       &kp C           &kp V       &kp B        &kp N        &kp M       &kp COMMA       &kp DOT  &kp FSLH
                          &kp L           &kp L       &kp L        &kp L        &kp L       &kp L
            >;
        };

        mod {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        mod_opt {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        mod_ctrl {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        mod_cmd {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        num {
            bindings = <
&kp DOLLAR  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp POUND        &kp LEFT_PARENTHESIS  &kp PLUS   &kp RIGHT_PARENTHESIS  &kp SLASH      &kp QUESTION
&kp TILDE   &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp GRAVE        &kp LEFT_BRACKET      &kp MINUS  &kp RIGHT_BRACKET      &kp BACKSLASH  &kp PIPE
&kp N0      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp RIGHT_BRACE  &kp LEFT_BRACE        &kp        &kp RIGHT_BRACE        &kp            &kp
                          &kp           &kp           &kp              &kp                   &kp        &kp
            >;
        };
    };
};
